$background-color: #f4f4f4;
$light-grey: #dddddd;
$text-color: #5c5c5c;
$brand-purple: #1B9AAA;
$brand-compliment: #DBC66A;
$background-white: #d2ced8;
$fret-bar-color: #2f2f2f;
$fret-background-maple: #e6e1ce;
