.active-note {
    background-color: #e8e829;
}

.pentatonic-note {
    background-color: #d6d6d6;
}

.selection-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.chord-selection-area{
    display: flex;
    flex-direction: column;
    min-width: 10rem;
}

.pentatonic-selection-area{
    display: flex;
    flex-direction: column;
    min-width: 10rem;
}

.fretboard-container {
  display: flex;
  justify-content: center;
}

.fretboard-container .fret {
  border: 1px solid black;
  height: 12rem;
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}

.fretboard-container .string {
  border: 1px solid black;
  flex: 1;
}

.fret1 {
  width: 150px;
}

.fret2 {
  width: 145px;
}

.fret3 {
  width: 140px;
}

.fret4 {
  width: 135px;
}

.fret5 {
  width: 130px;
}

.fret6 {
  width: 125px;
}