@import "../variables/Variables.scss";

nav {
    background-color: $light-grey;
}

.nav-bs-container button {
    border: 0px ;
}

.nav-link:hover {
    color: $brand-purple;
}

.navbar-brand:hover {
    color: $brand-purple;
}