@import "../variables/Variables.scss";
.add-fretboard-button{
    cursor: pointer;
    background-color: $light-grey;
    color: $text-color;
    justify-content: center;
    width: 10rem;
    height: 2rem;
    border-radius: 0.2rem;
    border: 0px;
    margin-top: 2rem;
    padding-bottom: 4px;
}

.remove-fretboard-button {
    cursor: pointer;
    background-color: $light-grey;
    color: $text-color;
    width: 5rem;
    height: 2rem;
    border-radius: 0.2rem;
    border: 0px;
    margin-left: 2rem
}

.advanced-settings-button-div {
    display: flex;
    justify-content: right;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-bottom: 0.2em;
}

.frets-selection-in-modal{
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.frets-text-in-modal{
    font-size: large;
    margin-left: 2rem;
}

.button-group-frets-in-modal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 4rem;
}

button {
    min-width: 5rem;
}

.fretboard-view-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 2em;
    padding-bottom: 0.5em;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    line-height: 1rem;
}
  
.footer-big-div{
    display: flex;
    flex-direction: row;
    justify-content: center
}
  
.footer-little-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: $light-grey;
    min-height: 2.0rem;
    align-items: center;
    border-radius: 3px;
}


.active-note-key-example {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #6A7FDB;
    font-size:x-small;
    width: 4rem;
    height: 1rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}
  
.active-note-5th-key-example {
    background-color: #6a7fdb9f;
    font-size: x-small;
    width: 4rem;
    height: 1rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}
  
.active-note-3rd-key-example {
    background-color: #6a7fdb4a;
    font-size: x-small;
    width: 4rem;
    height: 1rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

.settings-and-key-div {
    display: flex;
    flex-direction: row;
    justify-content: end;
}